@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  }

#test{
    background-color: #182C61;
    border-color: #182C61 !important;
}